@tailwind base;
@tailwind components;
@tailwind utilities;
.page-container {
  display: flex;
  gap: 20px; /* Spacing between sidebar and main content */
  padding: 20px;
}

.sidebar {
  width: 250px; /* Fixed width for sidebar */
  height: 100vh; /* Full height */
  background: #f5f5f5;
  position: sticky;
  top: 0;
}

.main-section {
  flex: 1; /* Takes the remaining space */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.logo{
  display: flex;
  position:absolute;
  left: 50px;
  
}